*{
  box-sizing: border-box;
}

.first_row, .second_row{
  text-align: center;
  margin-top: 35px;
}

.first_item, .second_item, .third_item{
  display: inline-block;
  position: relative;
}

.discount_green{
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
}

.discount_red{
  background-color: red;
  position: absolute;
  top: 0;
  right: 0;
}

.heart{
  display: none;
  color: red;
  font-size: 40px;
  position: absolute;
  left: 135px;
  bottom: 2%;
}

.first_item:hover .heart{
  display: block;
}

.second_item:hover .heart{
  display: block;
}

.third_item:hover .heart{
  display: block;
}
